[flake8]
max-line-length = 115
max-complexity = 10
ignore =
	# this project uses tabs
	W191,
	# spaces around longer keyword arguments improve legibility
	E251,
	# line break before binary operator is best practice
	W503,
	# personal stylistic choices re. continuation line indents
	E121, E126, E128,
	# there is no preference re. number of spaces before comments
	E261,
exclude =
    .git,
    .mypy_cache,
    venv,
    *.egg-info,
