[MESSAGES CONTROL]

disable=
	##########################
	# inherited from .flake8
	C0326, # spaces around keyword args
	bad-continuation, # I prefer single indent even if it looks uglier

	###################
	# pylint specific

	# readability usually beats speed for logging, especially here
	logging-fstring-interpolation,
	logging-not-lazy,

	W0235, # sometimes useful, but flags on mixins

	# too annoying or nonsensical
	C0103, # naming rules
	too-few-public-methods,

	###################
	# handled by mypy

	no-member,
	not-an-iterable,
	isinstance-second-argument-not-valid-type,
	unsubscriptable-object,
	unsupported-assignment-operation,
	unsupported-membership-test,

	# attrs makes this ok
	attribute-defined-outside-init,

[BASIC]

good-names=f,t,_

[FORMAT]

indent-string='\t'

# based on 960px editor width
max-line-length=115

[MISCELLANEOUS]

# based on Kate keywords
notes=FIXME,TODO,XXX,WARNING,DANGER,CAUTION

[LOGGING]
