language: python
python:
  - '3.8'
  # - 'nightly' # FIXME blocked by Ubuntu 20.04, note that builds take forever
install: pip install -e '.[lint]'
script:
  - python3 ssc_pkg/main.py --help # TODO add unit tests for main.py
  - ./rtest.sh
