language: python
os: linux

jobs:
  fast_finish: true
  include:
  # lowest supported
  - python: '3.8.2' # '3.8' == '3.8.1' exposes upstream venv errors??
    dist: bionic
  # highest supported
  - python: '3.8'
    dist: focal
  # bleeding edge
  - python: 'nightly'
    dist: focal

  allow_failures:
  # bleeding edge
  - python: 'nightly'
    dist: focal

install: pip install -e '.[lint]'
script:
  - ssc-pkg --help # TODO add unit tests for main.py
  - ./rtest.sh
