language: python
python:
  - '3.8'
  # - 'nightly'
install: pip install -e '.[lint]'
script:
  - python3 ssc_pkg/main.py --help # TODO replace with unittest
  - python3 -m unittest discover
  - mypy ssc_pkg
